@import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap';

.chat-window {
  height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  border: #AAA solid 1px;
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0;
}
